<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="header">
    <div class="principalCart">
      <span class="glyphicon glyphicon glyphicon-shopping-cart" (click)="snav.toggle()"></span>
    </div>
  </div>
  
  <mat-sidenav-container>
    <mat-sidenav #snav mode="over.true" position="end" class="sidebar">
      <mat-nav-list class="sidebar-into">
        <shoppingCart></shoppingCart>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="container">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="footer">
  </div>
</div>