::ng-deep .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 20px; */
    padding: 10px;
    background-color: #00c491;
    color: white;
    text-align: center;
 }

 ::ng-deep .header {
    background-color: #00c491;
    padding: 20px 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 100;
    height: 60px;
 }

 ::ng-deep .principalCart {
    position: absolute;
    /* bottom: 30px; */
    text-align: center;
    right: 30px;
    top: 10px;
    font-size: 40px;
}

::ng-deep .principalCart:hover {
    color: #531e60;
}